<!DOCTYPE html>
<html>
<head>
	<title>Label app</title>
	<body bgcolor="#beebed">
		<h2>{{data}}
	<div align="right" style="color: red; font-size: 32px">user name:{{request.user}}</div>
	<div align="right" style=" height: 22px; margin-bottom: 10px; font-size: 32px;"> <a href="/userlogout/">Logout</a></div>
	<h1 align="center", style="color: red" >Welcome to Dashboard</h1>
<!-- <form method="post", action="/search/">
{% csrf_token %}
	<input placeholder="Enter movie name" type="text" name="movie" >
	<input type="submit" value="search">
</form>

<h1 align="center", style="color: yellow" >Our movies </h1>

<table style="width:80%;background-color:#A5FD5D"; align="center" width="600">
<tr>
  <th>Movie_name</th>
  <th>Category</th>
  <th>Release_date</th>
</tr>
{% for e in data %}
<tr>
  <td height="100" border="1" align="center"> <a href="/movie-data/?id={{e.id}}" class="download_link">{{ e.movie_name }}</td>
  <td height="100" border="1" align="center">{{ e.category }}</td>
  <td height="100" border="1" align="center" >{{ e.release_date }}</td>
</tr>
{% endfor %} 
</table> -->
	
</html>