{% extends "admin/base.html" %}

{% block title %}{{ title }} | Label manager {% endblock %}
{% block extrastyle %}
<style>
body.login {
    background: #bf4242 !important;
}
#header{ background-color: #249227; border-bottom: solid 3px #d42b2b; text-align: center; 
    color: #fff;}
#branding {
    float: none;
}
#branding h1{ color: #fff !important; }
.module h2, .module caption, .inline-group h2 { background:#38d627 url(/admin_media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #363da0; }
#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: #fff !important;
}
body {
    background-color: #beebed !important;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
height: 30px;
    width: 85px;
    cursor: pointer;
}
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Label administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}